

.dashboard-sideItem {
    width:100%;
    height:20%;
    top:40%;
    left:10%;
    text-align: center;
}

.dashboard-sidebar {
    height:70%;
    width: 20%;
    position: absolute;
}

.dashboard-search{
    width: 60%;
    margin-left: 25%;
    background-color: aliceblue;
}

.text-center{
    height: 40%;
    margin-top:10%;
}

.collection .collection-item {
    cursor: pointer;
    background-color: bisque;
}

.collection .collection-item:hover {
    background-color: chartreuse;
}

.dashboard-searchbutton{
    margin-left:90%;
    margin-top:-110px;
}

.dashboard-display{
    background-color: aliceblue;
    margin-left:20%;
    margin-top:7px;
    width:80%;
    height:70%;
    position: absolute;
}

.dashboard-pagination{
    bottom:10px;
    width:40%;
    left:30%;
    position: absolute;
}

.dashboard-itemlist{
    width:88%;
    left:6%;
    top:56px;
    position: absolute;
}

.dashboard-itemcard-btn{
    background-color: red;
    margin-right: 20px;
    bottom: 10px;
}

.dashboard-itemcard-btn:hover {
    background-color: green;
}

.pointer{
    cursor: pointer;
}