.workscreen-toptoolbar{
    background-color: greenyellow;
}

.workscreen-dropdown {
    width: 33.33333%;
}

.workscreen-workplace{
    width: 100%;
    height: 70%;
    background-color: white;
    position: absolute;
}

.workscreen-window-property{
    background-color: wheat;
    border: 2px solid black;
}

.workscreen-window-layer{
    background-color: wheat;
    border: 2px solid black;
}

.workscreen-window-tilesets{
    background-color: wheat;
    border: 2px solid black;
}