.delit-logo{
    position: absolute;
    top: 20%;
    height:60%;
    width: 60%;
    border: 2px solid black;
    box-shadow: 10px 10px grey;
}

.login-form{
    position: absolute;
    top:10%;
    left: 65%;
    width: 30%;
    margin-top: 80px;
    border: 2px solid black;
    box-shadow: 10px 10px grey;
    padding-right: 5%;
    background-color: white;
}

.login-link{
    color: #039be5;
    cursor: pointer;
}

.login-link:hover{
    background-color: chartreuse;
}

.home-page{
    background-image: url('../../img/Sketch003.jpg');
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.home-submitbtn {
    margin-top: 20px;
}

.home-submitbtn:hover {
    background-color: brown;
}