.delit-logo{
    position: absolute;
    top: 20%;
    height:60%;
    width: 60%;
    border: 2px solid black;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.loginHeader1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: rgb(61, 207, 193);
}

.loginHeader2 {
    font-size: 30px;
    text-align: center;
    color: black;
}

.login-form{
    position: absolute ;
    top:25%;
    left: 35%;
    width: 30%;
    border: 2px solid black;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
    background-color: white;
}

.login-link{
    color: #039be5;
    cursor: pointer;
    margin-left:3%;
}

.login-link:hover{
    text-decoration: underline;
    text-decoration-color: gray;
}

.home-page{
    background-image: url('../../img/Sketch003.jpg');
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.home-submitbtn {
    font-size: 25px;
    width: 300px;
    height: 40px;
}

.home-submitbtn:hover {
    color: white;
    background-color:  turquoise !important;
}