.delit-logo{
    margin-top: 80px;
    height:60%;
    width: 60%;
}

.login-form{
    right: 100%;
    width: 30%;
    margin-top: 80px;
}

.login-link{
    color: #039be5;
    cursor: pointer;
}

.login-link:hover{
    background-color: chartreuse;
}

.home-page{
    background-image: url('../../img/Sketch003.jpg');
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.home-submitbtn {
    margin-top: 20px;
}

.home-submitbtn:hover {
    background-color: brown;
}