

.dashboard-sideItem {
    width:100%;
    height:20%;
    top:40%;
    left:10%;
    text-align: center;
}

.dashboard-sidebar {
    margin-top:8px;
    height:70%;
    width: 20%;
    position: absolute;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: lightblue;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.dashboard-search{
    width: 60%;
    background-color: aliceblue;
    transition: 0.5s;
}

.text-center{
    height: 40%;
    margin-top:10%;
}

.collection .collection-item {
    cursor: pointer;
    background-color: transparent;
}

.collection-item {
    padding: 0px 0px !important;
    font-size: large;
    height: 6rem !important;
    transition: 0.5s;
    text-align: center;
}

.item-text {
    position: absolute;
    margin-top: 2rem;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 100%;
}

.collection-item:hover{
    color:white;
    background-color: royalblue;

}

.collection {
    border: none;
    margin-top: 1rem;
    
}

.dashboard-searchbutton{
    margin-left:80%;
    margin-top:-110px;
}
.dashboard-searchbutton:hover {
    background-color: violet !important;
}

.dashboard-display{
    background-color: aliceblue;
    margin-top:8px;
    height:70%;
    position: absolute;
    transition: 0.5s;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.dashboard-pagination{
    bottom:10px;
    width:40%;
    left:30%;
    position: absolute;
}

.dashboard-itemlist{
    width:88%;
    left:6%;
    top:56px;
    position: absolute;
}

.dashboard-itemcard-btn{
    background-color: red;
    margin-right: 20px;
    bottom: 10px;
}

.dashboard-itemcard-btn:hover {
    background-color: green;
}

.dashboard-sidebtn{
    color: black;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-top: none;
    background-color: rgb(189, 189, 189);
}

.dashboard-itemcard{
    display: block;
    cursor: pointer;
    background-color: royalblue;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.dashboard-itemcard:hover {
    background-color: violet;
}

.navbar {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.side-create-btn{
    background-color: red;
    width: 70%;
    font-size: xx-small;
    padding: 0;
    transition: ease-in 0.5s;
}

.side-clear-btn:hover{
    background-color: salmon;
}

.side-clear-btn{
    background-color: red;
    top: 0.5rem;
    margin-right: 1rem;
    transition: ease-in 0.5s;
}

.side-clear-btn:hover{
    background-color: salmon;
}

.modal{
    height: 400px;
    width: 500px;
    overflow: auto;
}