.logo {
    color:turquoise;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vw;
}

.dashboard-sideItem {
    width:100%;
    height:20%;
    top:40%;
    left:10%;
    text-align: center;
}

.dashboard-sidebar {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 0.6vw;
    height:70%;
    width: 20%;
    position: absolute;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(52, 196, 181);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.dashboard-search{
    width: 60%;
    background-color: aliceblue;
    transition: 0.5s;
}

.dashboard-top-navbar{
    color: whitesmoke;
    text-align: center;
}

.text-center{
    height: 40%;
    margin-top:10%;
}

.collection .collection-item {
    cursor: pointer;
    background-color: transparent;
}

.collection-item {
    padding: 0px 0px !important;
    font-size: large;
    height: 6rem !important;
    transition: 0.5s;
    text-align: center;
}

.item-text {
    position: absolute;
    margin-top: 2rem;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-size: 1.2vw;
    width: 100%;
}

.collection-item:hover{
    color:white;
    background-color: salmon;

}

.collection {
    border: none;    
}

.dashboard-searchbutton{
    background-color: rgb(52, 196, 181);
    color: white;
    position: absolute;
    left:90%;
    margin-top: -60px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 12px;
}
.dashboard-searchbutton:hover {
    background-color: salmon !important;
}

.dashboard-display{
    background-color: aliceblue;
    margin-top:8px;
    height:70%;
    position: absolute;
    transition: 0.5s;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.dashboard-pagination{
    bottom:10px;
    width:40%;
    left:30%;
    position: absolute;
}

.dashboard-itemlist{
    width:88%;
    left:6%;
    top:56px;
    position: absolute;
}


.dashboard-itemcard-btn{
    width: 100%;
    height: 36px;
    margin-top: -72px;
    position: absolute;
    padding-right: 10px;
}

.dashboard-itemcard-edit-btn{
    background-color: white;
    color: black;
    float: right;
    white-space: nowrap;
}

.dashboard-itemcard-team-btn{
    background-color: white;
    color: black;
    float: right;
}

.dashboard-itemcard-edit-btn:hover{
    color: white;
    background-color: salmon;
}


.dashboard-itemcard-team-btn:hover{
    color: white;
    background-color: salmon;
}

.dashboard-sidebtn{
    color: black;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-top: none;
    background-color: rgb(189, 189, 189);
}

.dashboard-itemcard{
    display: block;
    cursor: pointer;
    background-color: rgb(52, 196, 181);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.dashboard-itemcard:hover {
    background-color: salmon;
}

.navbar {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.56), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}

.side-create-btn{
    background-color: rgb(52, 196, 181);
    width: 70%;
    font-size: xx-small;
    padding: 0;
    transition: ease-in 0.5s;
    white-space: nowrap;
}

.side-clear-btn{
    align-content: center center;
    background-position: center;
    background-color:salmon;
    top: 0.5rem;
    margin-right: 1rem;
    text-align: center;
    transition: ease-in 0.5s;
}

.side-clear-btn:hover{
    background-color: turquoise;
}

.dialogHeader {
    text-align: center;
    color: turquoise;
    font-size: 3vw;
    font-weight: bold;
}


.img{
    border: 1px solid #fff;
    border-radius: 0.1vw;
    padding: 0.2vw;
    width: 4.8vw;
    height: 4.8vw;
}
  

.imageContainer {
    margin-top: 10px;
    width: 35vw;
    height: 5vw;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.56), 0 2px 5px 0 rgba(0, 0, 0, 0.52);
  }

.imageContainer:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.imageDescription {
    display: inline-block;
    width: calc(100% - 100px);
    text-align: right;
    font-size: 15px;
}

nav {
    background-color: unset;
    box-shadow: unset;
}