.painter-wrapper{
    background-color: thistle;
    width: 80%;
    height: calc(80% - 74px);
    position: absolute;
    margin-top: 48px;
    margin-left: 10%;
    box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.75);
}

.propertybar-wrapper{
    position: absolute;
    height:calc(100% - 50px) ;
    width: 16%;
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
}

.property-box{
    border-bottom: 1px solid black;
    width: 100%;
    height: 15%;
    margin-top:8%;
    position: relative;
    padding-left: 10px;
}

.ranger{
    margin-top: -6px;
    width: 90%;
}

.property-center{
    border:1px solid black;
    height: 20px;
    margin-top: 12%;
    width: 30%;
    margin-left: 35%;
    font-size:small;
    text-align: center;
    background-color: turquoise;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.property-center:hover{
    background-color: salmon;
}


.property-flip-btn{
    border:1px solid black;
    height: 16px;
    width: 72px;
    margin-top: -8px;
    margin-left: calc(33.3% - 48px);
    font-size:small;
    text-align: center;
    background-color: turquoise;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    display: inline-block;
    font-size: xx-small;
}
.property-flip-btn:hover{
    background-color: salmon;
}


.painter-display{
    position: relative;
    height:calc(100% - 50px) ;
    width: 84%;
    margin-left: 16%;
    margin-top:10px;
}

.display{
    background-color: transparent;
    position: absolute;
    transform-origin: 0 0;
}

.display-zoom-in{
    cursor: zoom-in;
}

.display-zoom-out{
    cursor: zoom-out;
}

.color-btn{
    float: right;
    margin-top: -12%;
}

.display-pencil{
    cursor: url(./img/pencil\ \(4\).cur), auto;
}

.display-eraser{
    cursor: url(./img/eraser\ \(2\).cur), auto;
}

.display-fill{
    cursor: url(./img/fill_rollover.svg) 20 20, auto;
}

.display-cross-cursor{
    cursor: crosshair;
}

.cropped-area{
    position: absolute;
    background-color: transparent;
    outline: 2px dashed black;
}

.file-uploader{
    display: none;
}

.draw-canvas{
    outline: 2px solid black;
}

.selected-box{
    position: absolute;
    background-color: rgba(0, 0, 205, 0.4);
    cursor: move;
}