.workscreen-toptoolbar{
    background-color: rgb(156, 156, 156);
}

.workscreen-dropdown {
    margin-left: 3%;
    width: 28%;
    background-color: ghostwhite;
    color: black;
}

.workscreen-workplace{
    width: 100%;
    height: 70%;
    background-color: white;
    position: absolute;
}

.workscreen-window{
    background-color: white;
    border: 2px solid black;
}

.display-place{
    background-color: skyblue;
    position: absolute;
    top:20%;
    left:5%;
    width: 90%;
    height: 80%;
    overflow: auto;
    cursor: auto;
}

.map{
    transition-duration: 1s;
    position: absolute;
    top:0%;
    left:0%;
}

.canvas{
    width: 100%;
    height: 100%;
    background-color: thistle;
    cursor: pointer;
}

.selected-grid{
    position: absolute;
    border:2px solid black
}
.property-row{
    border:2px solid black ;
    margin-top: -2px;
    display: flex;
}
.property-box{
    width:50%;
    border-left: 2px solid black;
    margin-left: -2px;
}

.property-plane{
    margin:-1rem;
}

.property-input{
    border: 1px solid #cecece !important;
    background-color: rgb(214, 214, 214) !important;
    height: auto !important;
    width: 100% !important;
    margin: 0px 0px 0px 0px !important;
    caret-color: rgb(255, 0, 0);
}

.collapsible{
    margin: auto !important;
    margin-top: 3px !important;
}

.collapsible-header{
    background-color: thistle;
    margin-top: -3px;
    border-top: 1px solid black;
}
.collapsible-header:hover{
    background-color: turquoise;
}

.collapsible-body{
    background-color: cornsilk;
}

.window-to-top{
    z-index: 100;
}