.workscreen-toptoolbar{
    background-color: greenyellow;
}

.workscreen-dropdown {
    width: 33.33333%;
}

.workscreen-workplace{
    width: 100%;
    height: 70%;
    background-color: white;
    position: absolute;
}

.workscreen-window{
    background-color: white;
    border: 2px solid black;
}

.display-place{
    background-color: skyblue;
    position: absolute;
    top:20%;
    left:5%;
    width: 90%;
    height: 80%;
    overflow: auto;
    cursor: auto;
}

.map{
    transition-duration: 1s;
    position: absolute;
    top:0%;
    left:0%;
}

.canvas{
    width: 100%;
    height: 100%;
    background-color: thistle;
    cursor: pointer;
}

.selected-grid{
    position: absolute;
    border:2px solid black
}
.property-row{
    border:2px solid black ;
    margin-top: -2px;
    display: flex;
}
.property-box{
    width:50%;
    border-left: 2px solid black;
    margin-left: -2px;
}

.property-plane{
    margin:-1rem;
}

.property-input{
    border: 1px solid #9e9e9e !important;
    background-color: white !important;
    height: auto !important;
    width: 90% !important;
    margin-bottom: auto !important;
}

.collapsible{
    margin: auto !important;
}

.collapsible-header{
    border: 3px solid #9e9e9e;
    background-color: thistle;
}
.collapsible-header:hover{
    background-color: turquoise;
}