.workscreen-toptoolbar{
    background-color: rgb(156, 156, 156);
}

.workscreen-dropdown {
    margin-left: 3%;
    width: 28%;
    background-color: ghostwhite;
    color: black;
}

.workscreen-workplace{
    width: 100%;
    height: 70%;
    background-color: white;
    position: absolute;
}

.workscreen-window{
    background-color: white;
    border: 2px solid black;
}

.scrollarea{
    height: 100%;
}
.display-place{
    background-color: skyblue;
    position: absolute;
    top:20%;
    left:5%;
    width: 90%;
    height: 80%;
    overflow: auto;
    cursor: auto;
}

.map{
    transition-duration: 1s;
    position: absolute;
    top:0%;
    left:0%;
}

.canvas{
    width: 100%;
    height: 100%;
    background-color: thistle;
    cursor: pointer;
}

.selected-grid{
    position: absolute;
    border:2px solid black
}
.property-row{
    border:2px solid black ;
    margin-top: -2px;
    display: flex;
}
.property-box{
    width:50%;
    border-left: 2px solid black;
    margin-left: -2px;
}

.property-plane{
    margin:-1rem;
}

.property-input{
    width: 80px !important;
    word-wrap: break-word;
}

.property-input:focus{
    border: 1px solid skyblue;
}

.collapsible{
    margin: auto !important;
    margin-top: 3px !important;
    max-height: 90%;
}

.collapsible-header{
    background-color: thistle;
    margin-top: -3px;
    border-top: 1px solid black;
}
.collapsible-header:hover{
    background-color: turquoise;
}

.collapsible-body{
    background-color: cornsilk;
    padding:0 !important;
    width: 100%;
}

.window-to-top{
    z-index: 100;
}

.load-more-btn{
    font-size: x-small;
    text-align: center;
    white-space: nowrap;
    width: 60%;
    left: 20%;
    padding: 0;
    background-color: rgb(2, 177, 177);
}

.scrollbar-container{
    padding-bottom: 22px;
}